@use 'myVariables';
@use 'myMixins';

/* css for the application
======================= */




  .top-bar-right{
    display: grid;
    grid-template-columns: repeat(10, minmax(200px,1fr));
    grid-gap:10px;


    
    .menu{
      grid-area: appNav;
    }

    .top-bar-right{
      grid-template-areas: 
      "topNav topNav";
    }

  } 



.blocksSec a:active img {
  padding: 0;
  border: solid 3px rgb(77, 146, 250);
}





.blocksSec{

  display: none;
  background-color:#F8F8FA;
  padding: 1em 2em;
  
  
  a{
    padding:0;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    margin-bottom: 2px; 

    img{
      border:solid 1px #aaa;
    }
  }

  a img:hover{
    box-shadow: 5px 10px 13px #888888;
    position: relative;
    border-radius: 5px;
    top:-2px;
    left:-2px;
    margin-bottom:-4px;
  }
}

#rb{
  @include myMixins.grid_n_gap();
  grid-template-columns: repeat(10, 1fr);
}

form#pageSaveForm, form#colourForm {
  display: none;
}
