$rootFontSize:0.9rem;
$body:#ccc;
$primary:#ddd;
$dark:#222; 
$light:#fff;
$shadow:0 1px 5px rgba(104, 104, 104, 0.8);
$site-fonts: Arial, Helvetica, sans-serif;

//nav fonts
$nav-font-size: 0.8rem;

$showCase-h1: 4rem;
$showCase-p: 1.3rem;
$top-box-price: 2.5rem;

$borderRadius:5px;
$borderCircle:50%;

/* Links*/
$linkColour:#1EAEDB;
$linkColourHover:#0FA0CE;

/*Buttons*/

$inputButtonClr:#555;
$inputButtonBorder:#bbb;
$inputButtonFocus:#333;
$inputButtonFocusBorder:#888;
$inputButtonPrimaryClr:#fff;
$inputButtonPrimaryBG:#33C3F0;
$inputButtonPrimaryBorder:#33C3F0;
$inputButtonPrimaryFocus:#1EAEDB;
$selectBGClr:#fff;
$selectBorderClr:#D1D1D1;
$selectFocus:#33C3F0;
$codeBG:#F1F1F1;
$codeClr:#E1E1E1;

/* Tables */
$tableBorderBottom:#E1E1E1;
$hr:#E1E1E1;